<div class="container-fluid position-fixed">
    <div class="row mb-3">
        <div class="col-10"></div>
        <div class="col-2"></div>
    </div>
    <div class="row pr-5 pl-0 mb-5 pb-5 justify-content-center h-100">
        <div class="sala1 col-sm-4 col-md-4 col-6 mt-5">
            <img class="position-absolute img-fluid" src="assets/1.png" alt="" (click)="irSala1()">
        </div>
        <div class="sala2 col-sm-4 col-md-4 col-6 mt-5">
            <img class="position-absolute img-fluid" src="assets/2.png" alt=" " (click)="irSala2() ">
        </div>

    </div>

    <div class="row pr-5 pl-0  mb-0 mt-5 pt-5 justify-content-center h-100">
        <div class="sala3 col-sm-4 col-md-4 col-6 mt-5">
            <img class="position-absolute img-fluid" src="assets/3.png" alt=" " (click)="irSala3() ">
        </div>
        <div class="sala3 col-sm-4 col-md-4 col-6 mt-5">
            <img class="position-absolute img-fluid" src="assets/4.png" alt=" " (click)="irSala4() ">
        </div>
    </div>

</div>
